parameters:

    paths:
        - src/

    # Level 10 is the highest level
    level: 5

    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    editorUrlTitle: '%%file%%:%%line%%'

    ignoreErrors:
        -
            identifier: return.type
            path: src/Resources/Filters/Dirty.php
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
